version 5.119.8

source https://nuget.org/api/v2
storage: none

clitool dotnet-fable prerelease
nuget Fable.Core prerelease
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fulma prerelease

github alfonsogarciacaro/react-cardstack:dist

group Build
  source https://nuget.org/api/v2
  framework >= net45
  nuget FAKE
